.debhelper
autoreconf.after
autoreconf.before
dh-addon/dh_kodiaddon_depends.1
*.debhelper.log
debhelper-build-stamp
*.substvars
*.debhelper
files
kodi-addons-dev/
kodi-bin/
kodi-data/
kodi-eventclients-common/
kodi-eventclients-dev/
kodi-eventclients-kodi-send/
kodi-eventclients-ps3/
kodi-eventclients-wiiremote/
kodi-repository-kodi/
kodi/
tmp/
xbmc-addons-dev/
xbmc-bin/
xbmc-eventclients-common/
xbmc-eventclients-dev/
xbmc-eventclients-ps3/
xbmc-eventclients-wiiremote/
xbmc-eventclients-xbmc-send/
xbmc/
